.git
.gitignore
.github
.DS_Store

.env
.env.*

**/node_modules
web/dist
web/coverage
web/playwright-report
web/test-results

api/.bundle
api/log/*
api/tmp/*
api/storage/*
!api/storage/.keep
api/config/master.key
api/config/credentials/*.key

api/spec
web/e2e
web/test

docs
prompts
tools
